@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h3 class="brand-heading">Bienvenidos al portal de BSOFT </h3>
        <p class="intro-text">
            Interfas de desarrollo de aplicaciones que permite el intercambio
            <br>de informacion a travez de BSOFT.
        </p>
        <a href="#about" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</div>